@{
    ViewData["Title"] = "Akademiya Haqqında";
}
<div class="hero-banner hero-banner1 overly hero-bg1" id="about-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 ">
                <div class="navbarInfo">
                    <div class="brk-header__element brk-header__element_skin-2 brk-header__item">
                        <a href="/" class="brk-header__element--wrap">
                            <i class="fa fa-phone"></i>
                            <span class="brk-header__element--label font__weight-semibold">055 555 55 59</span>
                        </a>
                    </div>
                    <div class="brk-header__element brk-header__element_skin-2 brk-header__item">
                        <a href="#" class="brk-header__element--wrap">
                            <i class="fa fa-envelope"></i>
                            <span class="brk-header__element--label font__weight-medium">compar@gmail.com</span>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="main-banner-content text-center">
                    <h1>Akademiya</h1>
                    <p>
                       Akademiya haqqında ümumi məlumat üçün aşağıdakı bölməyə nəzər yetirə bilərsiniz.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about us -->
<section class="services-details-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="services-details-image">
                    <img src="/dist/images/contact_image.jpg" alt="image">
                    <div class="video-box">
                        <div class="video-btn" data-bs-toggle="modal" data-bs-target="#myModal"><i class="fa-solid fa-play"></i></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12">
                <div class="services-details-desc">
                    <h2>Akademiya haqqında</h2>
                    <p>
                        Compar Academy veb-proqramlaşdırma, qrafik və veb dizayn sahələri üzrə
                        tədris mərkəzidir. Mərkəzimizdə tədris olunan sahələr dünyada ən
                        öndəgedən, tələbatlı, aktual və Azərbaycanda da nüfuzu günü-güdən
                        artan sahələrdəndir. Ölkəmizdə proqramlaşdırma və dizayn sahələrinə
                        müxtəlif yaş kateqoriyalarından, müxtəlif sosial statuslu və fərqli
                        ixtisasları olan insanlar tərəfindən getdikcə artan maraq var. Bu
                        baxımdan insanların düzgün bələdçiliklə, düzgün dərs proqramları və
                        sistematik şəkildə bu sahəni öyrənməyə başlamaları önəmlidir.
                    </p>
                    <p>
                        Akademiyamızın tərtib etdiyi tədris proqramları və tədris metodikası
                        müvafiq sahələrin ən son yenilikləri və ən çox tələb olunan tərəfləri
                        nəzərə alınaraq müasir şəkildə hazırlanıb.
                    </p>
                    <p>
                        Tələbələrimiz kurs müddətində layihələr üzərində işləyərək şəxsi
                        portfolio yaratmaq, kursu başa vurduqdan sonra isə akademiyada və ya
                        partnyor şirkətlərdə işləmək və ya praktika keçmək kimi imkanlara
                        sahib olurlar. Tədris müddətini uğurla başa vurub sertifikat əldə edən
                        tələbələr üçün isə xaricdə praktika imkanı yaradılır. Həmçinin, iş
                        imkanları üçün tələbələri iş müsahibələrinə hazırlayır və CV-lərinin
                        yönəldilməsində də köməklik göstəririk.
                    </p>
                    <p>
                        Compar Academy-ə vaxtaşırı texnologiya və ya təhsil sahəsində
                        fəaliyyət göstərən mütəxəssislər və ya tərəfdaşlarımız dəvət olunur və
                        seminarlar təşkil edilir. Bu seminarlarda qonaqlarımız öz təcrübə və
                        tövsiyələrini bölüşür, tələbələrin suallarını cavablandırırlar və
                        qarşılıqdı müzakirələr aparılır.
                        <br/>
                           Tələbələrimizə vəd etdiyimiz imkanlar, akademiyada yaratdığımız şərait
                        və dərs atmosferası əsas üstünlüyümüzdür.
                    </p>
                </div>
            </div>
            @*<div class="col-lg-4 col-md-12">
                <div class="services-details-info">
                    <h3>Our Working Process</h3>
                    <ul>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</li>
                        <li>Creative Team Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</li>
                        <li>Branding But I must explain to you how all this mistaken idea of denouncing.</li>
                        <li>Clean Code At vero eos et accusamus et iusto odio dignissimos ducimus qui.</li>
                        <li>UX/UI Friendly On the other hand, we denounce with righteous indignation.</li>
                        <li>24/7 Support There are many variations of passages of Lorem Ipsum available.</li>
                    </ul>
                </div>
            </div>*@

        </div>
    </div>
</section>

<!-- What is the next? -->
<div class="cta-area-two ptb-100">
    <div class="container">
        <div class="cta-content">
            <h3>Konsultasiya üçün vaxt təyin edin</h3>
        </div>

        <div class="cta-btn-box"><a class="custom-btn" asp-controller="Contact" asp-action="Index">Keçid edin</a></div>
    </div>
</div>
