

	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>404</h1>
				<h2>Səhifə Tapılmadı</h2>
			</div>
			<a  asp-controller="Home" asp-action="Index">Ana Səhifə</a>
		</div>
	</div>


