@model Entities.Concrete.User

@{
    ViewData["Title"] = "Parolu Dəyiş";
}
<div class="login-17">
    <div class="container-fluid">
        <div class="row login-box justify-content-end">
            <div class="col-lg-6 form-section clip-home">
                <div class="form-inner">
                    <h1>@Model.FullName</h1>
                    <h3>Parol dəyişmək</h3>
                    <form id="account" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group form-box">
                            <input type="password" name="currentPassword" class="form-control" placeholder="Köhnə Parol..." aria-label="Köhnə">
                            <i class="flaticon-password"></i>
                        </div>
                        <div class="form-group form-box">
                            <input type="password" name="newPassword" class="form-control" autocomplete="off" placeholder=" Yeni Parol..." aria-label="Yeni Parol">
                            <i class="flaticon-password"></i>
                        </div>
                         <div class="form-group form-box">
                            <input type="password" name="newConfirmPassword" class="form-control" autocomplete="off" placeholder="Təkrar Yeni Parol..." aria-label="Təkrar Yeni Parol">
                            <i class="flaticon-password"></i>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn-md btn-theme w-100 text-light">Dəyiş</button>
                        </div>
                    </form>
                    <a asp-area="ComparAdmin" asp-controller="Dashboard" asp-action="Index">Geri Qayıt</a>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
