@{
    ViewData["Title"] = "Faq";
}
<div class="hero-banner hero-banner1 overly hero-bg1" id="about-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 ">
                <div class="navbarInfo">
                    <div class="brk-header__element brk-header__element_skin-2 brk-header__item">
                        <a href="/" class="brk-header__element--wrap">
                            <i class="fa fa-phone"></i>
                            <span class="brk-header__element--label font__weight-semibold">055 555 55 59</span>
                        </a>
                    </div>
                    <div class="brk-header__element brk-header__element_skin-2 brk-header__item">
                        <a href="#" class="brk-header__element--wrap">
                            <i class="fa fa-envelope"></i>
                            <span class="brk-header__element--label font__weight-medium">compar@gmail.com</span>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="main-banner-content text-center">
                    <h1>FAQ</h1>
                    <p>
                        Sualınız var? Ümid edirik aşağıdakı bölmə sizə yardımçı olacaq.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Accordion menu -->
<section class="faq-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="faq-img"><img src="/dist/images/faq.jpeg" alt="Image"></div>
            </div>
            <div class="col-lg-6">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a data-bs-toggle="collapse" class="collapsed" href="#collapseExampleOne" role="button" aria-expanded="false" aria-controls="collapseExampleOne">
                                    Tamamilə fərqli sahədə işləyirəm/təhsil alıram, yenə də bu sahəni
                                    öyrənə bilərəmmi?

                                </a>
                            </h4>
                        </div>
                        <div class="collapse" id="collapseExampleOne">
                            <div class="panel-body">
                                <p>
                                    Əlbəttə. Həvəs və marağınız olduqdan sonra hansı sahədə
                                    olmağınızdan asılı olmayaraq proqramlaşdırma və ya dizayn öyrənməyə
                                    başlaya bilərsiniz.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a data-bs-toggle="collapse" class="collapsed" href="#collapseExampleTwo" role="button" aria-expanded="false" aria-controls="collapseExampleTwo">
                                    Müəllimlər kimlərdir?
                                </a>
                            </h4>
                        </div>
                        <div class="collapse" id="collapseExampleTwo">
                            <div class="panel-body">
                                <p>
                                    Hər bir müəllimimiz öz sahəsində ixtisaslaşmış və olduqca təcrübəlidir.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a data-bs-toggle="collapse" class="collapsed" href="#collapseExampleThree" role="button" aria-expanded="false" aria-controls="collapseExampleThree">
                                    Mentor sisteminiz varmı?
                                </a>
                            </h4>
                        </div>
                        <div class="collapse" id="collapseExampleThree">
                            <div class="panel-body">
                                <p>
                                    Bəli, dərs müddətində və dərsdən kənar vaxtlarda tapşırıqlarla
                                    bağlı mentor dəstəyindən istifadə edə bilərsiniz.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a data-bs-toggle="collapse" class="collapsed" href="#collapseExampleFour" role="button" aria-expanded="false" aria-controls="collapseExampleFour">
                                    Tədris proqramının sonunda sertifikat verilirmi?
                                </a>
                            </h4>
                        </div>
                        <div class="collapse" id="collapseExampleFour">
                            <div class="panel-body">
                                <p>
                                    Bəli, hər bir tələbə final imtahanı verdikdən sonra sertifikatla
                                    təmin olunur.

                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFive">
                            <h4 class="panel-title">
                                <a data-bs-toggle="collapse" class="collapsed" href="#collapseExampleFive" role="button" aria-expanded="false" aria-controls="collapseExampleFive">
                                    Proqramı başa vurduqdan sonra təcrübə proqramına qoşula bilərəmmi?
                                </a>
                            </h4>
                        </div>
                        <div class="collapse" id="collapseExampleFive">
                            <div class="panel-body">
                                <p>
                                    Akademiyamızda tədris proqramını vaşa vurmuş tələbələr təcrübə
                                    proqramına qoşulmaq və ixtisasları üzrə real layihələr üzərində
                                    işləmək imkanı əldə edirlər.

                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSix">
                            <h4 class="panel-title">
                                <a data-bs-toggle="collapse" class="collapsed" href="#collapseExampleSix" role="button" aria-expanded="false" aria-controls="collapseExampleSix">
                                    İşlə təmin edirsinizmi?
                                </a>
                            </h4>
                        </div>
                        <div class="collapse" id="collapseExampleSix">
                            <div class="panel-body">
                                <p>
                                    Compar Academy-də təcrübə proqramını başa vurmuş tələbələrə
                                    karyera dəstəyi çərçivəsində həm işlə təminatda, həm də iş
                                    müsahibələrinə hazırlıqda köməklik göstərilir.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSeven">
                            <h4 class="panel-title">
                                <a data-bs-toggle="collapse" class="collapsed" href="#collapseExampleSeven" role="button" aria-expanded="false" aria-controls="collapseExampleSeven">
                                    Akademiyaya qəbul prosesi cür olur?
                                </a>
                            </h4>
                        </div>
                        <div class="collapse" id="collapseExampleSeven">
                            <div class="panel-body">
                                <p>
                                    Qəbul üçün ilkin olaraq konsultasiyada iştirak edirsiniz, daha
                                    sonra isə sadəcə şəxsiyyət vəsiqəsi ilə qeydiyyatdan keçə bilərsiniz.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSeven">
                            <h4 class="panel-title">
                                <a data-bs-toggle="collapse" class="collapsed" href="#collapseExampleSeven" role="button" aria-expanded="false" aria-controls="collapseExampleSeven">
                                    Dərslərə neçə yaşından qoşulmaq olar?
                                </a>
                            </h4>
                        </div>
                        <div class="collapse" id="collapseExampleSeven">
                            <div class="panel-body">
                                <p>
                                    Compar Academy-də 14 yaşdan yuxarı tələbələr təhsil ala bilərlər.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSeven">
                            <h4 class="panel-title">
                                <a data-bs-toggle="collapse" class="collapsed" href="#collapseExampleSeven" role="button" aria-expanded="false" aria-controls="collapseExampleSeven">
                                    Tədris proqramının müddəti nə qədərdir?
                                </a>
                            </h4>
                        </div>
                        <div class="collapse" id="collapseExampleSeven">
                            <div class="panel-body">
                                <p>
                                    Seçilən sahədən asılı olaraq 5 aydan 12 ay müddətinə qədər fərqli
                                    tədris proqramlarımız mövcuddur.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSeven">
                            <h4 class="panel-title">
                                <a data-bs-toggle="collapse" class="collapsed" href="#collapseExampleSeven" role="button" aria-expanded="false" aria-controls="collapseExampleSeven">
                                    Dərslər hansı şəkildə keçilir?
                                </a>
                            </h4>
                        </div>
                        <div class="collapse" id="collapseExampleSeven">
                            <div class="panel-body">
                                <p>
                                    Dərslərimiz həm əyani, həmn də onlayn şəkildə keçilir.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSeven">
                            <h4 class="panel-title">
                                <a data-bs-toggle="collapse" class="collapsed" href="#collapseExampleSeven" role="button" aria-expanded="false" aria-controls="collapseExampleSeven">
                                    Dərslər hansı saatlarda keçilir?
                                </a>
                            </h4>
                        </div>
                        <div class="collapse" id="collapseExampleSeven">
                            <div class="panel-body">
                                <p>
                                    Səhər (10:00-13:00), günorta (14:00-17:00) və axşam (19:00-22:00)
                                    olmaqla 3 növbə dərslərimiz mövcuddur.
                                </p>
                            </div>
                        </div>
                    </div>    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSeven">
                            <h4 class="panel-title">
                                <a data-bs-toggle="collapse" class="collapsed" href="#collapseExampleSeven" role="button" aria-expanded="false" aria-controls="collapseExampleSeven">
                                   Dərslər hansı dildə keçilir?
                                </a>
                            </h4>
                        </div>
                        <div class="collapse" id="collapseExampleSeven">
                            <div class="panel-body">
                                <p>
                                   Dərslər yalnız Azərbaycan dilində keçilir.
                                </p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>



@*  <!-- Ask Your Questions -->
    <div class="pb-100">
    <div class="contact-form">
    <h2>Ask Your Questions</h2>
    <form id="contactForm">
    <div class="container">
    <div class="row">
    <div class="col-lg-6">
    <div class="form-group"><input type="text" name="name" id="name" class="form-control"
    placeholder="Your Name" required=""></div>
    </div>
    <div class="col-lg-6">
    <div class="form-group"><input type="email" name="email" id="email" class="form-control"
    placeholder="Your Email" required=""></div>
    </div>
    <div class="col-lg-6">
    <div class="form-group"><input type="text" name="phone_number" id="phone_number"
    class="form-control" placeholder="Phone" required=""></div>
    </div>
    <div class="col-lg-6">
    <div class="form-group"><input type="text" name="msg_subject" id="msg_subject"
    class="form-control" placeholder="Subject" required=""></div>
    </div>
    <div class="col-lg-12 col-md-12">
    <div class="form-group"><textarea name="message" class="form-control" id="message" rows="8"
    placeholder="Your Message" required=""></textarea></div>
    </div>
    <div class="col-lg-12 col-md-12"><button type="submit" class="btn btn-primary">Send Message</button>
    </div>
    </div>
    </div>
    </form>
    </div>
    </div>*@


